<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wine Home Page</title>
</head>
<body>
<h3>I see you like wine, I do as well :)</h3>

<form th:action="@{/wine/dishes}">
    <label>Wine Name: </label>
    <input type="text" th:name="wineName" required>
    <input type="submit">
</form>

<form th:action="@{/wine/pairing}">
    <label>Food: </label>
    <input type="text" th:name="food" required>
    <label>Max Price: </label>
    <input type=number min="0" max="50" value="25" th:name="maxPrice" required>
    <input type="submit">
</form>


</body>
</html>