<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wine Pairing Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <div th:include="fragments/required-tags :: boot-strap-required"/>

</head>
<body class="wine-bg">

<div th:include="fragments/nav :: nav"/>

<div class="center wine-display-bg wine-display-text">
    <div id="Dish Pairing" th:if="${pairing}">
        <table>
            <thead>
            <th><p th:text="${pairing.getWineName()}"></p></th>
            </thead>
            <tr th:each="dish : ${pairing.pairings}">
                <td th:text="${dish}"></td>
            </tr>
            <tr>
                <td th:text="${pairing.text}"></td>
            </tr>
        </table>
        <form th:action="@{/wine/dishes/search}">
            <input type="submit" value="Back to Search" class="btn btn-primary">
        </form>
    </div>

    <div id="Wine Pairing" th:if="${winePairing}">
        <h3>Wine pairings for <span th:text="${winePairing.foodName}"></span></h3>
        <br>
        <span th:text="${winePairing.pairingText}"></span>
        <br>
        <span>Paired Wines: </span>
        <span th:each="wine, iterStat : ${winePairing.pairedWines}"
              th:text="!${iterStat.last} ? ${wine} + ', ' : ${wine}"></span>
        <div th:each="product : ${winePairing.wineProductMatches}">
            <h1 th:text="${product.title}"></h1>
            <span><b>Description:</b> <span th:text="${product.description}"></span></span>
            <br>
            <img th:src="${product.imageUrl}">
            <br>
            <a th:href="${product.link}" target="_blank">Product Link</a>
            <br>
            <span><b>Price: </b><span th:text="${product.price}"></span></span>
        </div>
        <form th:action="@{/wine/pairing/search}">
            <input type="submit" value="Back to Search" class="btn btn-primary">
        </form>
    </div>

    <div id="Wine Recommendations" th:if="${wineRecommendation}">
        <h3> Recommended <span th:text="${wineRecommendation.wineName}"></span> wines</h3>
        <div th:each="product : ${wineRecommendation.recommendedWines}">
            <hr>
            <h1 th:text="${product.title}"></h1>
            <span><b><u>Description</u></b></span>
            <p align="justify" th:text="${product.description}"></p>
            <br>
            <img th:src="${product.imageUrl}">
            <br>
            <a th:href="${product.link}" target="_blank">Product Link</a>
            <br>
            <span><b>Price: </b><span th:text="${product.price}"></span></span>
        </div>
        <form th:action="@{/wine/recommendations/search}">
            <input type="submit" value="Back to Search" class="btn btn-primary">
        </form>
    </div>

    <div id="Wine Description" th:if="${wineDescription}">
        <div>
            <h2 th:text="${wineDescription.wineName}"></h2>
            <p><b>Description: </b> <span th:text="${wineDescription.wineDescription}"></span></p>
        </div>
        <form th:action="@{/wine/description/search}">
            <input type="submit" value="Back to Search" class="btn btn-primary">
        </form>
    </div>
</div>


</body>
</html>