
.center {
          border-radius: 25px;
          margin: 0 auto;
          width: 40%;
          border: 3px solid #007bff;
          padding: 10px;
}

.main-bg{
    background-image: url(/images/main/checkered-pattern.png);
    background-color: #2EC4B6;
}

.container-bg{
    background-image: url(/images/main/light-mesh.png);
    background-color: #B8D8D8;
}


.display-text{
        color: #26547C;
}

h1 {
    text-align:center
}

