<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Menu Display Page</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <div th:include="fragments/required-tags :: boot-strap-required"/>
    </head>
    <body>

        <div th:include="fragments/nav :: nav"/>

        <div class="center">
            <table th:if="${menuItemResults}" class="table table-dark table-striped">
                <th>#</th>
                <th>Menu Item</th>
                <th>Restaurant</th>
                <th>Nutrition Info</th>
                <tr th:each="menuItem, iStat : ${menuItemResults.menuItems}">
                    <td th:text="${iStat.index} + 1"></td>
                    <td th:text="${menuItem.title}"></td>
                    <td th:text="${menuItem.restaurantChain}"></td>
                    <td>
                        <a th:href="@{/menu/menu-item/nutrition/{id}(id = ${menuItem.id})}" class="btn btn-primary">
                            Nutrition Info
                        </a>
                    </td>
                </tr>
            </table>
            <table th:if="${AutoCompleteResults}" align="center" class="table table-dark table-striped">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Menu Item
                    </th>
                    <th>
                        Nutrition info
                    </th>
                </tr>
                <tr th:each="menuItem, iStat :  ${AutoCompleteResults.results}">
                    <td th:text="${iStat.index} + 1"></td>
                    <td th:text="${menuItem.title}" style="font-weight: bold;"></td>
                    <td>
                        <a th:href="@{/menu/menu-item/nutrition/{id}(id = ${menuItem.id})}" class="btn btn-primary">
                            View Info
                        </a>
                    </td>
                </tr>
            </table>
            <div th:if="${menuItemInfo}">
                <h3 th:text="${menuItemInfo.title}"></h3>
                <h5 if="${menuItemInfo.restaurantChain}" th:text="${menuItemInfo.restaurantChain}">
                </h5>
                <img th:src="${menuItemInfo.images.get(1)}">
                <hr>
                <h4>
                    <u>Nutrition information</u>
                </h4>
                <table class="table table-dark table-striped" align="center">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Nutrient
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            % of daily needs
                        </th>
                    </tr>
                    <tr th:if="${nutrient.amount != 0.0}"
                        th:each="nutrient, iStat : ${menuItemInfo.nutritionInfo.nutrientsList}">
                        <td th:text="${iStat.index} + 1"></td>
                        <td th:text="${nutrient.title}"></td>
                        <td th:text="${nutrient.amount} + ${nutrient.unit}">
                        </td>
                        <td th:text="${nutrient.percentOfDailyNeeds}">
                            <span>&#37;</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>