<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Menu Home</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <div th:include="fragments/required-tags :: boot-strap-required"></div>
    </head>
    <body class="main-bg ">

        <div th:include="fragments/nav :: nav"></div>

        <div class="center container-bg display-text">

            <div th:if="${menuItemSearch}">
                <form th:action="@{/menu/menu-item/results}">
                    <h1>Menu Item Search</h1>
                    <div class="form-group">
                        <label for="itemQuery1">Query</label>
                        <input type="text" class="form-control" id="itemQuery1" th:name="query"
                               placeholder="Enter Query" required>
                    </div>
                    <div class="form-group">
                        <label for="minCalorieInput">Min Calories</label>
                        <input type="number" min="0" max="100" value="0" class="form-control" id="minCalorieInput"
                               th:name="minCalories">
                    </div>
                    <div class="form-group">
                        <label for="maxCalorieInput">Max Calories</label>
                        <input type="number" min="100" max="1000" value="1000" class="form-control" id="maxCalorieInput"
                               th:name="maxCalories">
                    </div>
                    <div class="form-group">
                        <label for="numOfResults1">Number of results</label>
                        <input type="number" min="1" max="10" value="1" class="form-control" id="numOfResults1"
                               th:name="number">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 offset-md-4">
                            <i th:text="${menuItemsNotFound}" class="text-danger"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-1 offset-md-5">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <div th:if="${autoCompleteSearch}">
                <h1>Menu Item AutoComplete Search</h1>
                <form th:action="@{/menu/auto-complete/results}">
                    <div class="form-row">
                        <div class="form-group col-md-3 offset-md-3">
                            <label for="itemQuery2">Query</label>
                            <input type="text" th:name="query" class="form-control" id="itemQuery2" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="numOfResults2">Number of Results</label>
                            <input type="number" min="1" max="10" value="1" class="form-control" id="numOfResults2"
                                   th:name="number">
                        </div>
                        <div class="form-group col-md-1 align-self-end">
                            <button class="btn btn-primary">Search</button>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-4 offset-md-4">
                            <i th:text=${noMenuItemsFound} class="text-danger"></i>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </body>
</html>