<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Home</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <div th:include="fragments/required-tags :: boot-strap-required"></div>
</head>
<body class="main-bg">

<div th:include="fragments/nav :: nav"></div>

<h3>Hello!!</h3>
<h3>This is the home page for my food app</h3>
<h3>Definitely a work in progress. Will improve over time and hard work :)</h3>

</body>
</html>