<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Home</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <div th:include="fragments/required-tags :: boot-strap-required"></div>
</head>
<body class="main-bg">

<div th:include="fragments/nav :: nav"></div>

<div class="center-display container-bg display-text">
    <h3><u>Try this new Recipe!</u></h3>
    <br>
    <br>
    <h4 th:text="${recipe.title}"></h4>
    <br>
    <img class="img-border" th:src="${recipe.image}">
    <br>
    <br>
    <h5>Ready in <span th:text="${recipe.readyInMinutes}"></span> minutes</h5>
    <h5>Servings: <span th:text="${recipe.servings}"></span></h5>
    <br>
    <br>
    <a th:href="@{recipe/ingredients/{id}/info(id=${recipe.id})}" class="btn btn-primary">View Recipe Info</a>
    <a th:href="@{recipe/{id}/recipe-instructions(id=${recipe.id}, recipeName = ${recipe.title})}" class="btn btn-primary">View Recipe Instructions</a>
    <hr>
    <button class="btn btn-primary" onclick="window.location.reload();">Get another random recipe</button>

</div>


</body>
</html>