<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Misc Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <div th:include="fragments/required-tags :: boot-strap-required"/>
</head>
<body class="main-bg">

<div th:include="fragments/nav :: nav"/>

<div class="center container-bg display-text">
    <div th:if="${quickAnswerSearch}">
        <form th:action="@{/misc/quick-answer/answer}">

            <div class="form-group">
                <label class="control-label" for="questionInput">Question</label>
                <input type="text" class="form-control" id="questionInput" th:name="question"
                       placeholder="Enter Question" required>
            </div>
            <div class="form-group text-center">
                <i th:text="${answerNotFound}" class="text-danger"></i>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Ask</button>
            </div>

        </form>
    </div>
    <div th:if="${analyzeText}">
        <form th:action="@{/misc/detect-food/analyze}" id="analyzerForm">
            <div class="form-group">
                <textarea rows="4" cols="50" class="form-control" id="textAreaInput" th:name="text" form="analyzerForm">Enter Text here</textarea>
            </div>
            <div class="form-group text-center">
                <i th:text="${NoDetectedFood}" class="text-danger"></i>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Analyze</button>
            </div>
        </form>
    </div>
    <div th:if="${siteSearch}">
        <form th:action="@{/misc/site-search/results}">
            <div class="form-group">
                <label for="siteContentSearch">Search Site Content</label>
                <input type="text" class="form-control" id="siteContentSearch" th:name="query"
                       placeholder="Enter Search Query" required>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    <div th:if="${foodVideoSearch}">
        <h1>Food Video Search</h1>
        <form th:action="@{/misc/food-video/results}">
            <div class="form-group">
                <label for="videoQuery">Query</label>
                <input type="text" class="form-control" id="videoQuery" th:name="query" placeholder="Enter Query"
                       required>
            </div>
            <div class="form-group">
                <label for="selectType">Type</label>
                <select class="form-control" id="selectType" th:name="type"
                        th:include="fragments/form-select-populate :: food-type">
                </select>
            </div>
            <div class="form-group">
                <label for="selectCuisine">Cuisine: </label>
                <select class="form-control" id="selectCuisine" th:name="cuisine"
                        th:include="fragments/form-select-populate :: cuisine-type">
                </select>
            </div>
            <div class="form-group">
                <label for="selectDiet">Diet</label>
                <select class="form-control" id="selectDiet" th:name="diet"
                        th:include="fragments/form-select-populate :: diet-type">
                </select>
            </div>
            <div class="form-group">
                <label for="numOfOptions1">Num of results</label>
                <input class="form-control" id="numOfOptions1" th:name="number" type="number" min="1" max="10"
                       value="1">
            </div>
            <div class="form-group text-center">
                <i th:text="${noDetectedFood}" class="text-danger"></i>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>

        </form>
    </div>

</div>
</body>
</html>