<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Misc Display</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <div th:include="fragments/required-tags :: boot-strap-required"></div>


</head>
<body class="main-bg">

<div th:include="fragments/nav :: nav"></div>


<div th:if="${answer}" class="center-display container-bg display-text">
    <h5><b>Question</b></h5>
    <h5 th:text="${answer.question}"><span>?</span></h5>
    <img class="img-border" th:src="${answer.image}">
    <h5><b>Answer</b></h5>
    <h5 th:text="${answer.answer}"></h5>
</div>
<div th:if="${detectedFoodList}" class="center-display container-bg display-text">
    <h2><u>Food Detected</u></h2>
    <hr>
    <div th:each="foodItem : ${detectedFoodList.annotations}">
        <h4 th:text="${foodItem.annotation}"></h4>
        <img class="img-border" th:src="${foodItem.image}">
        <p th:text="${foodItem.tag}"></p>
        <hr>
    </div>
</div>
<div th:if="${siteContent}">
    <div  class="center-display container-bg display-text">
        <h3><b>Articles</b></h3>
        <table align="center" class="table table-dark table-striped table-bordered w-75">
            <th>#</th>
            <th>Article</th>
            <th></th>
            <tr th:each="article, iStat : ${siteContent.articleList}">
                <td th:text="${iStat.index} + 1">
                </td>
                <td th:text="${article.name}">
                </td>
                <td>
                    <a th:href="${article.link}" target="_blank" class="btn btn-primary">View Article</a>
                </td>
            </tr>
        </table>
    </div>

    <div  class="center-display container-bg display-text">
        <h3><b>Products</b></h3>
        <table align="center" class="table table-dark table-striped table-bordered w-75">
            <th>#</th>
            <th>Product</th>
            <th></th>
            <tr th:each="product, iStat : ${siteContent.groceryProductList}">
                <td th:text="${iStat.index} + 1"></td>
                <td th:text="${product.name}"></td>
                <td>
                    <a th:href="${product.link}" target="_blank" class="btn btn-primary">Product Link</a>
                </td>
            </tr>
        </table>
    </div>
    <div  class="center-display container-bg display-text">
        <h3><b>Menu Items</b></h3>
        <table align="center" class="table table-dark table-striped table-bordered w-75">
            <th>#</th>
            <th>Item</th>
            <th></th>
            <tr th:each="menuItem, iStat : ${siteContent.menuItemList}">
                <td th:text="${iStat.index} + 1"></td>
                <td th:text="${menuItem.name}"></td>
                <td>
                    <a th:href="${menuItem.link}" target="_blank" class="btn btn-primary">Item Link</a>
                </td>
            </tr>
        </table>
    </div>
    <div  class="center-display container-bg display-text">
        <h3><b>Recipes</b></h3>
        <table align="center" class="table table-dark table-striped table-bordered w-75">
            <th>#</th>
            <th>Recipe Name</th>
            <th></th>
            <tr th:each="recipe, iStat : ${siteContent.recipeList}">
                <td th:text="${iStat.index} + 1"></td>
                <td th:text="${recipe.name}"></td>
                <td>
                    <a th:href="${recipe.link}" target="_blank" class="btn btn-primary">Recipe Link</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div th:if="${joke}" class="center-display container-bg display-text">
    <h5 th:text="${joke.text}"></h5>
    <br>
    <form th:action="@{/misc/random/joke}">
        <button type="submit" class="btn btn-primary">Get Another Joke</button>
    </form>
</div>
<div th:if="${trivia}" class="center-display container-bg display-text">
    <h5 th:text="${trivia.text}"></h5>
    <br>
    <form th:action="@{/misc/random/trivia}">
        <button type="submit" class="btn btn-primary">Get More Trivia</button>
    </form>
</div>

<div th:if="${foodVideos}">
    <div th:each="video : ${foodVideos.videoDetailsList}"
         class="center-display container-bg display-text">
        <h3 th:text="${video.title}"></h3>
        <p>Views: <span th:text="${video.views}"></span></p>
        <img class="img-border" th:src="${video.thumbnail}"/>
        <br>
        <br>
        <a class="btn btn-primary" th:href="${video.getYoutubeLink()}" target="_blank">Go To Video</a>
    </div>
</div>


</body>
</html>