<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Misc Display</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <div th:include="fragments/required-tags :: boot-strap-required"/>


</head>
<body class="main-bg">

<div th:include="fragments/nav :: nav"/>

<div class="center container-bg display-text">
    <div th:if="${answer}">
        <h5>Question: <span th:text="${answer.question}">?</span></h5>
        <img th:src="${answer.image}">
        <h5>Answer: <span th:text="${answer.answer}"></span></h5>
    </div>
    <div th:if="${detectedFoodList}">
        <h2><u>Food Detected</u></h2>
        <hr>
        <div th:each="foodItem : ${detectedFoodList.annotations}">
            <h4 th:text="${foodItem.annotation}"></h4>
            <img th:src="${foodItem.image}">
            <p th:text="${foodItem.tag}"></p>
            <hr>
        </div>
    </div>
    <div th:if="${siteContent}">
        <h3>Articles</h3>
        <table align="center" class="table table-dark table-striped w-75">
            <th>#</th>
            <th>Article</th>
            <th></th>
            <tr th:each="article, iStat : ${siteContent.articleList}">
                <td th:text="${iStat.index} + 1">
                </td>
                <td th:text="${article.name}">
                </td>
                <td>
                    <a th:href="${article.link}" target="_blank" class="btn btn-primary">View Article</a>
                </td>
            </tr>
        </table>
        <hr>
        <h3>Products</h3>
        <table align="center" class="table table-dark table-striped w-75">
            <th>#</th>
            <th>Product</th>
            <th></th>
            <tr th:each="product, iStat : ${siteContent.groceryProductList}">
                <td th:text="${iStat.index} + 1"></td>
                <td th:text="${product.name}"></td>
                <td>
                    <a th:href="${product.link}" target="_blank" class="btn btn-primary">Product Link</a>
                </td>
            </tr>
        </table>
        <hr>
        <h3>Menu Items</h3>
        <table align="center" class="table table-dark table-striped w-75">
            <th>#</th>
            <th>Item</th>
            <th></th>
            <tr th:each="menuItem, iStat : ${siteContent.menuItemList}">
                <td th:text="${iStat.index} + 1"></td>
                <td th:text="${menuItem.name}"></td>
                <td>
                    <a th:href="${menuItem.link}" target="_blank" class="btn btn-primary">Item Link</a>
                </td>
            </tr>
        </table>
        <hr>
        <h3>Recipes</h3>
        <table align="center" class="table table-dark table-striped w-75">
            <th>#</th>
            <th>Recipe Name</th>
            <th></th>
            <tr th:each="recipe, iStat : ${siteContent.recipeList}">
                <td th:text="${iStat.index} + 1"></td>
                <td th:text="${recipe.name}"></td>
                <td>
                    <a th:href="${recipe.link}" target="_blank" class="btn btn-primary">Recipe Link</a>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${joke}">
        <h5 th:text="${joke.text}"></h5>
        <form th:action="@{/misc/random/joke}">
            <input type="submit" value="Get Another Joke">
        </form>
    </div>
    <div th:if="${trivia}">
        <h5 th:text="${trivia.text}"></h5>
        <form th:action="@{/misc/random/trivia}">
            <input type="submit" value="Get More Trivia">
        </form>
    </div>
    <div th:if="${foodVideos}">
        <h5><u>Video Results</u></h5>
        <div th:each="video : ${foodVideos.videoDetailsList}">
            <p>Title: <span th:text="${video.title}"/></p>
            <p>Views: <span th:text="${video.views}"/></p>
            <img th:src="${video.thumbnail}"/><br>
            <a th:href="${video.getYoutubeLink()}" target="_blank">Go To Video</a>
            <hr>
        </div>
    </div>
</div>

</body>
</html>